.single-progress{
    height: 500px;
    width: 280px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.progress-title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.single-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    border-radius: 10px;
    padding-bottom: 10px;
    background-color: white;
}
.taskname{
    word-break: break-all;
    padding: 5px;
}
.single-task .buttons-div{
    display: flex;
    gap: 10px;
}
.single-task .buttons-div .btn{
    min-width: 70px;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}