<body class="body-class">
  <!-- <h1 class="heading">Todo</h1> -->
  <div class="head-section">
    <div class="field">
      <label for="">
        <input type="text" placeholder="Enter Task" class="task-input" [(ngModel)]="taskName">
      </label>
      <p *ngIf="validation.taskValidation"  class="error">This field is required</p>
    </div>
    <div class="field">
      <label for="">
        <select name="task-progress" id="" class="task-progress" [(ngModel)] = "taskProgress">
          <option value="">Select Option</option>
          <option value="todo">Todo</option>
          <option value="inprogress">In-Progress</option>
          <option value="completed">Completed</option>
        </select>
      </label>
      <p *ngIf="validation.selectValidation" class="error">This field is required</p>
    </div>
    <button class="submit-button" (click)="SubmitData()">Submit</button>
  </div>
  <section class="progress-section">
    <div *ngFor="let progress of todoProgress">
      <app-progress [completeTodoData]="todoData" [progressType]="progress" [progressData]="todoProgress" (sendData)="EditTodoData($event)"></app-progress>
    </div>
  </section>
</body>